@use '../../_style.scss' as *;

span {
    background-color: $primary-color;
    border-radius: 10px;
    height: 25px;
    align-items: center;
    display: flex;
    justify-content: center;
    color: $secondary-color;
    padding: 5px;
    font-size: 14px;
    margin-right: 10px;
}