.slideshow-container {
    position: relative;
    max-width: 100%;
    height: 415px;
    margin: auto;
    overflow: hidden;
    border-radius: 25px;

    .slide-image {
        width: 100%;
        display: block;
    }

    .navigation {
        position: absolute;
        top: 50%;
        width: 100%;
        display: flex;
        justify-content: space-between;

        .arrow {
            width: 52px;
            height: 80px;
            cursor: pointer;

            &:hover {
                transform: scale(1.2);
            }
        }

        .left-arrow {
            position: absolute;
            left: 10px;
        }

        .right-arrow {
            position: absolute;
            right: 10px;
        }
    }

    .slide-number {
        position: absolute;
        bottom: 10px;
        left: 50%;
        color: white;
        padding: 5px 10px;
    }

    &.single-image .navigation,
    &.single-image .slide-number {
        display: none;
    }
}
