@use '../../_style.scss' as *;

.wrapper {
    @include wrap;

    .container-info {
        @include flex-space-between;

        h1 {
            color: $primary-color;
            font-weight: 500;
        }

        @media screen and (max-width: 720px) {
            display: block;
        }
    }

    .tags-container {
        display: flex;
        font-weight: 700;

        @media screen and (max-width: 720px) {
            justify-content: flex-start;

            span {
                margin-right: 10px;
            }
        }
    }

    .container-info-host {
        @include flex-space-between;
        margin-top: 15px;

        p {
            width: 50%;
            text-align: end;
            color: $primary-color;
        }
    }

    .image-cropper {
        width: 64px;
        height: 64px;
        position: relative;
        overflow: hidden;
        border-radius: 50%;

        .rounded {
            display: inline;
            margin: 0 auto;
            height: 100%;
            width: auto;
        }
    }

    .container-description {
        @include flex-space-between;

        @media screen and (max-width: 720px) {
            display: block;
            margin-bottom: 20px;
        }

        .collapse-container {
            width: 45%;
            margin-top: 30px;
            margin-bottom: 50px;

            @media screen and (max-width: 720px) {
                width: 100%;
                margin-bottom: 0;
            }

            ul {
                list-style-type: none;
                padding: 0;
            }
        }
    }

    .container-host {
        @include flex-space-between;
        flex-direction: column;
    }

    @media screen and (max-width: 720px) {

        .container-host {
            @include flex-space-between;
            flex-direction: row-reverse;
    
            .container-rating {
                display: flex;
            }
        }
    }
}