@use '../../_style.scss' as *;

.wrapper {
    @include wrap;
}  

.container-card {
    background-color: #F6F6F6;
    border-radius: 25px;
    margin-top: 35px;
    margin-bottom: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px;

    @media screen and (max-width: 720px) {
        background-color: $secondary-color;
        padding: 0;
    }
}