@use '../../_style.scss' as *;

.collapse-container {
    border-radius: 5px;

    .collapse-header {
        background-color: $primary-color;
        padding: 10px;
        @include flex-space-between;
        align-items: center;
        cursor: pointer;
        border-radius: 5px;

        h2 {
            color: $secondary-color;
            margin: 0;
            font-size: 18px;
        }

        .toggle-arrow {
            width: 30px;
            height: 25px;
        }
    }

    .collapse-content {
        background-color: #F6F6F6;
        padding: 10px;
        animation: fadeIn 0.3s ease;
        border-radius: 5px;
    }
}

@keyframes fadeIn {
    from {
        transform: translateY(-10px);
    }
    to {
        transform: translateY(0);
    }
}