@use '../../_style.scss' as *;

header {
    @include flex-space-between;
    @include wrap;
    margin-bottom: 3em;
}

nav {
    width: 15%;
    @include flex-space-between;
    align-items: center;
    font-weight: 500;

    @media screen and (max-width: 720px) {
        width: 40%;
        text-transform: uppercase;
        justify-content: space-around;
    }

    a {
        text-decoration: none;
        color: black;

        &.active {
            border-bottom: 1px solid black;
        }
    }
}

