
header {
    display: flex;
    justify-content: space-between;
    max-width: 1240px;
    margin: auto;
    margin-bottom: 3em;
}

nav {
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 720px) {
        width: 40%;
        text-transform: uppercase;
        justify-content: space-around;
    }

    a {
        text-decoration: none;
        color: black;

        &.active {
            border-bottom: 1px solid black;
        }
    }
}

